body{
    box-sizing: border-box;
    padding-bottom: 80px;
    height: 100%;
}
h2 a{
    font-size: 30px;
}
.foot-position{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
}
