<!DOCTYPE html>
<html lang="en-US" ng-app="icoRanking">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="/static/js/load.js"></script>
    <head>
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/static/css/style.css" />
        <link rel="stylesheet" href="/static/css/foundation.min.css" />
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/foundation.min.js"></script>
    </head>
    <body>
        <div class="grid-x">            
            <div ng-controller="rankingControl" class="small-10 small-offset-1 medium-6 medium-offset-3 cell ng-scope">
                <h2 class="text-center">
                <a href="/" style="text-align: center; font-size: 30px;">
                    &copy; CryptoRanking
                </a>
                </h2>
                <table>
                    <tr>
                        <td style="font-weight: bold;">ICO</th>
                        <td style="font-weight: bold;">Score</th> 
                    </tr>
                    <tr ng-repeat="ranking in rankings">
                        <td ><a ng-href="{[{ ranking[3] }]}" target="_blank">{[{ ranking[0] }]}</a></td>
                        <td>{[{ ranking[1] | number:1 }]}</td>
                    </tr>
                </table>
                <div class="foot-position text-center">
                <a class="btn btn-link" href="mailto:cryptorankingnow@gmail.com" target="_blank">
                Email
                </a>
                <p class="text-center">&copy; 2018 CryptoRanking</p>
                </div>
            </div>
        </div>
    </body>
</html>
